.pageNotFound {
  height: 700px;
  padding-top: 200px;
  .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .texts {
      width: 500px;
      height: 400px;
      background: url("../../assets/notFoud-bg.webp");
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      .wrap {
        position: absolute;
        left: 20%;
        top: 40%;
        text-align: center;
        display: flex;
        flex-direction: column;
        color: #333236;
        .bigText {
          font-size: 100px;
          font-weight: 700;
          margin-left: 10px;
        }
        .smallText {
          font-size: 25px;
          margin-left: 10px;
        }
      }
    }
  }
}
